#include "windows.h"
#include "wntdrvs.h"

wntdrvs ICON DISCARDABLE "winres\\wntdrvs.ico"

wntdrvs MENU DISCARDABLE
BEGIN
    POPUP "&File"
    {
	MENUITEM "Save &Mat",	IDM_FILE_SAVE_MAT
	MENUITEM "Save Mat &As",IDM_FILE_SAVE_MAT_AS
	MENUITEM "Save &Image As",IDM_FILE_SAVE_IMAGE_AS
	MENUITEM "Submi&T",	IDM_FILE_SUBMIT
	MENUITEM SEPARATOR
	MENUITEM "&Clear View",	IDM_FILE_CLEAR_VIEW
	MENUITEM "&BG Color",	IDM_FILE_BG_COLOR
	MENUITEM SEPARATOR
	MENUITEM "&Disconnect",	IDM_FILE_DISCONNECT
	MENUITEM "&Quit",	IDM_FILE_QUIT
    }
    POPUP "&Mouse"
    {
	MENUITEM "&More Sensitive",	IDM_MOUSE_MORE
	MENUITEM "&Less Sensitive",	IDM_MOUSE_LESS
    }
    POPUP "&State"
    {
	MENUITEM "&More Isolines",	IDM_STATE_MORE_ISO
	MENUITEM "&Less Isolines",	IDM_STATE_LESS_ISO
	MENUITEM SEPARATOR
	MENUITEM "&Finer Approximation",IDM_STATE_FINER_APPROX
	MENUITEM "&Coarser Approximation",IDM_STATE_COARSER_APPROX
	MENUITEM SEPARATOR
	MENUITEM "&Shorter Vectors",	IDM_STATE_SHORTER_VEC
	MENUITEM "Longer &Vectors",	IDM_STATE_LONGER_VEC
	MENUITEM SEPARATOR
	MENUITEM "&Wider Lines",	IDM_STATE_WIDE_LINES
	MENUITEM "&Thinner Lines",	IDM_STATE_THIN_LINES
	MENUITEM SEPARATOR
	MENUITEM "Wider Points",	IDM_STATE_WIDE_POINTS
	MENUITEM "Thi&nner Points",	IDM_STATE_THIN_POINTS

    }
    POPUP "&Toggles"
    {
	MENUITEM "&Screen Transformation",IDM_TGLS_SCREEN
	MENUITEM "Continuous Mo&Tion",  IDM_TGLS_CONT_MOTION
	MENUITEM "&Perspecive",		IDM_TGLS_PERSP
	MENUITEM "&Depth Cue",		IDM_TGLS_DEPTH_CUE
	MENUITEM "Double &Buffer",	IDM_TGLS_DOUBLE_BUFFER
	MENUITEM "&Anti Aliasing",	IDM_TGLS_ANTI_ALIASING
	MENUITEM "D&Rawing Style",	IDM_TGLS_DRAW_STYLE
	MENUITEM "Back &Face Cull",	IDM_TGLS_BFACE_CULL
	MENUITEM "Shading &Modes",	IDM_TGLS_SHADING_MODES
	MENUITEM "&Internal Edges",	IDM_TGLS_INTERNAL
	MENUITEM "Normals of &Vertices",IDM_TGLS_VRTX_NRML
	MENUITEM "Normals of Poly&Gons",IDM_TGLS_POLY_NRML
	MENUITEM "Reversed &Orientation",IDM_TGLS_NRML_ORIENT
	MENUITEM "Draw &Ctl Mesh/Poly", IDM_TGLS_CTL_MESH
        MENUITEM "Surface Po&Lygons",   IDM_TGLS_SRF_POLYS
        MENUITEM "Surface &Boundary",   IDM_TGLS_SRF_BNDRY
        MENUITEM "Surface Sil&Houette", IDM_TGLS_SRF_SILH
        MENUITEM "Surface Isoli&Nes",   IDM_TGLS_SRF_ISOS
        MENUITEM "Surface S&Ketch",     IDM_TGLS_SRF_SKTCH
        MENUITEM "&4 Tris Per Flat",    IDM_TGLS_4_PER_FLAT
        MENUITEM "&# Polygons Count",   IDM_TGLS_NUM_POLY_COUNT
        MENUITEM "Frames Per Second",   IDM_TGLS_FRAME_PER_SEC

    }
    POPUP "&Views"
    {
	MENUITEM "&Front",		IDM_VIEW_FRONT
	MENUITEM "&Side",		IDM_VIEW_SIDE
	MENUITEM "&Top",		IDM_VIEW_TOP
	MENUITEM "&Isometry",		IDM_VIEW_ISOMETRY
	MENUITEM "&4 Views",		IDM_VIEW_4VIEWS
    }
    POPUP "&Extensions"
    {
	MENUITEM "&Environment",	IDM_EXTN_ENVIRONMENT
	MENUITEM "&Animation",		IDM_EXTN_ANIMATION
	MENUITEM "Sha&Ding",		IDM_EXTN_SHADE_PARAM
	MENUITEM "&Crv Edit",	        IDM_EXTN_CRV_EDIT
	MENUITEM "&Srf Edit",	        IDM_EXTN_SRF_EDIT
	MENUITEM "&Picking Object Types", IDM_EXTN_PICK_OBJS
	MENUITEM "&Object Manipulation",  IDM_EXTN_OBJ_MANIP
    }
END

IDEN_ENV_PARAM_FORM DIALOG DISCARDABLE  0, 0, 190, 420
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CLIENTEDGE
CAPTION "Environment"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON   "Scrn Trans",  IDEN_BUTTON_SCREEN_OBJ,   5, 5, 42, 14
    PUSHBUTTON   "Cont Motion", IDEN_BUTTON_CONT_MOTION, 51, 5, 42, 14
    PUSHBUTTON   "Perspective", IDEN_BUTTON_PERSP_ORTHO, 97, 5, 42, 14
    PUSHBUTTON   "Dbl Buffer",  IDEN_BUTTON_DOUBLE_BUF, 143, 5, 42, 14

    GROUPBOX	 "Render Style", IDEN_DRAW_STYLE,       5, 22, 90, 24
    AUTORADIOBUTTON "Solid", IDEN_DRAW_STYLE_SOLID,     8, 32, 27, 10, WS_GROUP
    AUTORADIOBUTTON "Wire",  IDEN_DRAW_STYLE_WIREFRAME,38, 32, 27, 10
    AUTORADIOBUTTON "Pts",   IDEN_DRAW_STYLE_POINTS,   66, 32, 27, 10

    GROUPBOX	 "Antialiasing", IDEN_ANTI_ALIAS,      95, 22, 90, 24
    AUTORADIOBUTTON "Off",   IDEN_ANTI_ALIAS_OFF,      98, 32, 27, 10, WS_GROUP
    AUTORADIOBUTTON "On",    IDEN_ANTI_ALIAS_ON,      125, 32, 27, 10
    AUTORADIOBUTTON "Blnd",  IDEN_ANTI_ALIAS_BLEND,   155, 32, 27, 10

    GROUPBOX	 "Shading Style", IDEN_SHADE_STYLE,        5, 50, 180, 24
    AUTORADIOBUTTON "None",  IDEN_SHADE_STYLE_NONE,       10, 60, 35, 10, WS_GROUP
    AUTORADIOBUTTON "Bgrnd", IDEN_SHADE_STYLE_BACKGROUND, 46, 60, 35, 10
    AUTORADIOBUTTON "Flat",  IDEN_SHADE_STYLE_FLAT,       83, 60, 35, 10
    AUTORADIOBUTTON "Grd",   IDEN_SHADE_STYLE_GOURAUD,   120, 60, 35, 10
    AUTORADIOBUTTON "Png",   IDEN_SHADE_STYLE_PHONG,     152, 60, 32, 10

    PUSHBUTTON   "Draw VNrmls", IDEN_BUTTON_DRAW_VNRMLS,        5,  80, 42, 14
    PUSHBUTTON   "Draw PNrmls", IDEN_BUTTON_DRAW_PNRMLS,       51,  80, 42, 14
    PUSHBUTTON   "Rglr Nrmls",  IDEN_BUTTON_NRML_ORIENT,       97,  80, 42, 14
    PUSHBUTTON   "Lgt1Side",    IDEN_BUTTON_LIGHT_ONE_SIDE,   143,  80, 42, 14

    PUSHBUTTON   "No CullBF",      IDEN_BUTTON_CULL_BFACE,      5, 100, 42, 14
    PUSHBUTTON   "Depth Cue",      IDEN_BUTTON_DEPTH_CUE,      51, 100, 42, 14
    PUSHBUTTON   "No Intrl Edges", IDEN_BUTTON_INT_EDGES,      97, 100, 42, 14
    PUSHBUTTON   "Drw Polygons",   IDEN_BUTTON_DRAW_POLYGONS, 143, 100, 42, 14

    PUSHBUTTON   "No Srf Sktch",  IDEN_BUTTON_DRAW_SSKTCH,     10, 120, 50, 14
    PUSHBUTTON   "No Srf Mesh",   IDEN_BUTTON_DRAW_SMESH,      70, 120, 50, 14
    PUSHBUTTON   "No Srf Polys",  IDEN_BUTTON_DRAW_SPOLY,     130, 120, 50, 14

    PUSHBUTTON   "No Srf Isos",  IDEN_BUTTON_DRAW_SISO,         5, 140, 42, 14
    PUSHBUTTON   "No Srf Bndry", IDEN_BUTTON_DRAW_BNDRY,       51, 140, 42, 14
    PUSHBUTTON   "No Srf Silhs", IDEN_BUTTON_DRAW_SILH,        97, 140, 42, 14
    PUSHBUTTON   "No 3D Glss",   IDEN_BUTTON_DRAW_3D_GLASSES, 143, 140, 42, 14

    PUSHBUTTON   "No RflctLn",   IDEN_BUTTON_DRAW_RFLCT_LNS,    5, 160, 42, 14
    PUSHBUTTON   "2 Per Flat",   IDEN_BUTTON_DRAW_4_FLAT,      51, 160, 42, 14
    PUSHBUTTON   "No #Pl Cnt",   IDEN_BUTTON_NUM_POLY_COUNT,   97, 160, 42, 14
    PUSHBUTTON   "No FPS",       IDEN_BUTTON_FRAME_PER_SEC,   143, 160, 42, 14

    CONTROL      "Normal Len", IDEN_NORMAL_LEN_TITLE, "Static",
                 WS_GROUP, 5, 180, 100, 10
    SCROLLBAR    IDEN_NORMAL_LEN_TRACKBAR, 5, 190, 180, 15

    CONTROL      "Line Width", IDEN_LINE_WIDTH_TITLE, "Static",
                 WS_GROUP, 5, 210, 100, 10
    SCROLLBAR    IDEN_LINE_WIDTH_TRACKBAR, 5, 220, 180, 15

    CONTROL      "Sensitivity", IDEN_SENSITIVITY_TITLE, "Static",
                 WS_GROUP, 5, 240, 100, 10
    SCROLLBAR    IDEN_SENSITIVITY_TRACKBAR, 5, 250, 180, 15

    CONTROL      "Lowres ratio", IDEN_LOWRES_RATIO_TITLE, "Static",
                 WS_GROUP, 5, 270, 100, 10
    SCROLLBAR    IDEN_LOWRES_RATIO_TRACKBAR, 5, 280, 180, 15

    CONTROL      "Isolines", IDEN_ISOLINES_TITLE, "Static",
                 WS_GROUP, 5, 300, 100, 10
    SCROLLBAR    IDEN_ISOLINES_TRACKBAR, 5, 310, 180, 15

    CONTROL      "Polyline Fineness", IDEN_POLYLINE_FINENESS_TITLE, "Static",
                 WS_GROUP, 5, 330, 100, 10
    SCROLLBAR    IDEN_POLYLINE_FINENESS_TRACKBAR, 5, 340, 142, 15
    PUSHBUTTON   "PllnOpti",   IDEN_BUTTON_POLYLINE_OPTI,   150, 340, 35, 15

    CONTROL      "Polygon Fineness", IDEN_POLYGON_FINENESS_TITLE, "Static",
                 WS_GROUP, 5, 360, 100, 10
    SCROLLBAR    IDEN_POLYGON_FINENESS_TRACKBAR, 5, 370, 142, 15
    PUSHBUTTON   "PlgnOpti",   IDEN_BUTTON_POLYGON_OPTI,   150, 370, 35, 15

    PUSHBUTTON   "Clear View", IDEN_BUTTON_CLEAR_VIEW, 10, 400, 80, 14
    PUSHBUTTON   "Dismiss", IDEN_BUTTON_DISMISS, 100, 400, 80, 14
END

IDD_ANIMATION_FORM DIALOG DISCARDABLE  0, 0, 175, 115
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CLIENTEDGE
CAPTION "Animation"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "", IDC_BUTTON_REWIND, 0, 5, 35, 20
    PUSHBUTTON      "", IDC_BUTTON_PLAYBACKWARD, 35, 5, 35, 20
    PUSHBUTTON      "", IDC_BUTTON_STOP, 70, 5, 35, 20
    PUSHBUTTON      "", IDC_BUTTON_PLAY, 105, 5, 35, 20
    PUSHBUTTON      "", IDC_BUTTON_FORWARD, 139, 5, 35, 20
    PUSHBUTTON      "Min Time", IDC_BUTTON_MINTIME, 0, 25, 35, 20
    PUSHBUTTON      "Max Time", IDC_BUTTON_MAXTIME, 35, 25, 35, 20
    PUSHBUTTON      "Cont", IDC_BUTTON_SINGLESTEP, 70, 25, 35, 20
    PUSHBUTTON      "Dt", IDC_BUTTON_INTERVALDT, 105, 25, 35, 20
    PUSHBUTTON      "Fast Dt", IDC_BUTTON_FASTINTERVALDT, 139, 25, 35, 20
    AUTOCHECKBOX    "Two Ways",   IDC_TWO_WAYS,        80, 55, 50,  8
    AUTOCHECKBOX    "Repeated",   IDC_REPEAT,         130, 55, 50,  8
    CONTROL         "Time", ID_STATIC_SCALETITLE1, "Static",
                    WS_GROUP, 5, 55,  73, 10
    SCROLLBAR       IDC_TRACKBAR_SCALE,                 5, 70, 165, 15
    DEFPUSHBUTTON   "Restart", IDC_BUTTON_RESTART,       5,  95, 40, 14
    PUSHBUTTON      "No Geom", IDC_BUTTON_SAVE_GEOM,    47,  95, 40, 14
    PUSHBUTTON      "No Image", IDC_BUTTON_SAVE_IMAGE,  89,  95, 40, 14
    PUSHBUTTON      "Dismiss", IDCANCEL,               131,  95, 40, 14

END

IDS_SHADE_PARAM_FORM DIALOG DISCARDABLE  0, 0, 175, 410
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CLIENTEDGE
CAPTION "Shading"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX	    "Shading Style", IDS_STYLE,     5,  2, 165, 28
    AUTORADIOBUTTON "Non",   IDS_STYLE_NONE,       15, 15, 27, 10, WS_GROUP
    AUTORADIOBUTTON "Bgd",   IDS_STYLE_BACKGROUND, 45, 15, 27, 10
    AUTORADIOBUTTON "Flt",   IDS_STYLE_FLAT,       75, 15, 27, 10
    AUTORADIOBUTTON "Grd",   IDS_STYLE_GOURAUD,   105, 15, 27, 10
    AUTORADIOBUTTON "Png",   IDS_STYLE_PHONG,     135, 15, 27, 10

    CONTROL         "Ambient", ID_STATIC_SCALETITLE1, "Static",
                    WS_GROUP, 5, 30, 135, 9
    SCROLLBAR       IDS_TRACKBAR1_SCALE, 5, 40, 165, 15

    CONTROL         "Diffuse", ID_STATIC_SCALETITLE2, "Static",
                    WS_GROUP, 5, 56, 135, 9
    SCROLLBAR       IDS_TRACKBAR2_SCALE, 5, 66, 165, 15

    CONTROL         "Specular", ID_STATIC_SCALETITLE3, "Static",
                    WS_GROUP, 5, 82, 135, 9
    SCROLLBAR       IDS_TRACKBAR3_SCALE, 5, 92, 165, 15

    CONTROL         "Shininess", ID_STATIC_SCALETITLE4, "Static",
                    WS_GROUP, 5, 108, 135, 9
    SCROLLBAR       IDS_TRACKBAR4_SCALE, 5, 118, 165, 15

    CONTROL         "Emissision", ID_STATIC_SCALETITLE5, "Static",
                    WS_GROUP, 5, 134, 135, 9
    SCROLLBAR       IDS_TRACKBAR5_SCALE, 5, 144, 165, 15

    LTEXT           "Lgt", ID_STATIC_SCALETITLE6,  5, 165, 20, 9
    LTEXT           "Src", ID_STATIC_SCALETITLE7,  5, 173, 20, 9
    EDITTEXT        IDS_LIGHT_NUM, 18, 165,  20, 16,
		    ES_AUTOHSCROLL | ES_READONLY, WS_EX_LEFTSCROLLBAR
    LTEXT           "X",   ID_STATIC_SCALETITLE8,  40, 167, 10, 12
    EDITTEXT        IDS_LIGHT_X,   45, 165,  25, 12
    LTEXT           "Y",   ID_STATIC_SCALETITLE9,  72, 167, 10, 12
    EDITTEXT        IDS_LIGHT_Y,   78, 165,  25, 12
    LTEXT           "Z",   ID_STATIC_SCALETITLE10, 106, 167, 10, 12
    EDITTEXT        IDS_LIGHT_Z,  111, 165,  25, 12
    LTEXT           "W",   ID_STATIC_SCALETITLE11, 138, 167, 10, 12
    EDITTEXT        IDS_LIGHT_W,  145, 165,  25, 12

    GROUPBOX	    "Sketch Silhouette Style", IDS_SKETCH_SIL,  5, 190, 167, 54
    AUTORADIOBUTTON "Isocrvs", IDS_SKETCH_SIL_ISOCRVS,     10, 203, 35, 10, WS_GROUP
    AUTORADIOBUTTON "Crvtr",   IDS_SKETCH_SIL_CRVTR,       47, 203, 35, 10
    AUTORADIOBUTTON "Isoclns", IDS_SKETCH_SIL_ISOCLINES,   84, 203, 35, 10
    AUTORADIOBUTTON "Orthclns",IDS_SKETCH_SIL_ORTHOCLINES,121, 203, 35, 10
    CONTROL         "Sketch Sil", ID_STATIC_SCALETITLE12, "Static", 
                    WS_GROUP, 10, 215, 145, 9
    SCROLLBAR       IDS_TRACKBAR6_SCALE, 12, 225, 155, 15

    GROUPBOX	    "Sketch Shade Style", IDS_SKETCH_SHD,   5, 245, 167, 54
    AUTORADIOBUTTON "Isocrvs", IDS_SKETCH_SHD_ISOCRVS,     10, 258, 35, 10, WS_GROUP
    AUTORADIOBUTTON "Crvtr",   IDS_SKETCH_SHD_CRVTR,       47, 258, 35, 10
    AUTORADIOBUTTON "Isclns",  IDS_SKETCH_SHD_ISOCLINES,   84, 258, 35, 10
    AUTORADIOBUTTON "Orthclns",IDS_SKETCH_SHD_ORTHOCLINES,121, 258, 35, 10
    CONTROL         "Sketch Shd", ID_STATIC_SCALETITLE13, "Static",
                    WS_GROUP, 10, 270, 145, 9
    LTEXT           "Inv", ID_STATIC_SCALETITLE16,  9, 278, 20, 9
    AUTOCHECKBOX    "", IDS_SKETCH_SHD_INV,        10, 286, 10, 10, WS_GROUP
    SCROLLBAR       IDS_TRACKBAR7_SCALE, 22, 280, 145, 15

    GROUPBOX	    "Sketch Importance Style", IDS_SKETCH_IMP, 5, 300, 167, 54
    AUTORADIOBUTTON "Isocrvs", IDS_SKETCH_IMP_ISOCRVS,     10, 313, 35, 10, WS_GROUP
    AUTORADIOBUTTON "Crvtr",   IDS_SKETCH_IMP_CRVTR,       47, 313, 35, 10
    AUTORADIOBUTTON "Isclns",  IDS_SKETCH_IMP_ISOCLINES,   84, 313, 35, 10
    AUTORADIOBUTTON "Orthclns",IDS_SKETCH_IMP_ORTHOCLINES,121, 313, 35, 10
    CONTROL         "Importance", ID_STATIC_SCALETITLE14, "Static",
                    WS_GROUP, 10, 325, 155, 9
    AUTOCHECKBOX    "", IDS_SKETCH_IMPORTANCE, 10, 337, 10, 10, WS_GROUP
    SCROLLBAR       IDS_TRACKBAR8_SCALE, 22, 335, 145, 15

    CONTROL         "Shading", ID_STATIC_SCALETITLE15, "Static",
                    WS_GROUP, 5, 358, 155, 9
    SCROLLBAR       IDS_TRACKBAR9_SCALE, 5, 368, 165, 15

    DEFPUSHBUTTON   "Reset",   IDS_RESET,    10, 390, 50, 14
    PUSHBUTTON      "Dismiss", IDS_DISMISS, 115, 390, 50, 14
END

IDCE_CRV_EDIT_PARAM_FORM DIALOG DISCARDABLE  0, 0, 175, 230
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CLIENTEDGE
CAPTION "Crv Edit"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Curve Edit", IDCE_STATE,       10,   7, 155, 14

    LTEXT           "Name:",     IDC_STATIC_LABEL1,  8,  27,  24, 12
    EDITTEXT                     IDCE_NAME,         32,  25,  70, 14
    AUTOCHECKBOX    "Mesh",      IDCE_DRAW_MESH,   108,  27,  30, 10, WS_GROUP
    AUTOCHECKBOX    "Orig",      IDCE_DRAW_ORIG,   140,  27,  30, 10, WS_GROUP

    LTEXT           "LstSqr %:", IDC_STATIC_LABEL3,  8,  47,  32, 12
    EDITTEXT                     IDCE_LST_SQR_PERCENT,40,45,  25, 14, ES_NUMBER
    DEFPUSHBUTTON   "Open EC",   IDCE_END_COND,     70,  45,  45, 14
    DEFPUSHBUTTON   "Rational",  IDCE_RATIONAL,    120,  45,  45, 14

    LTEXT           "Order:",    IDC_STATIC_LABEL2,  8,  67,  24, 12
    EDITTEXT                     IDCE_ORDER,        33,  65,  20, 14, ES_NUMBER
    DEFPUSHBUTTON   "Uniform KV",IDCE_PARAM_TYPE,   65,  65,  55, 14
    DEFPUSHBUTTON   "Bezier",    IDCE_CURVE_TYPE,  125,  65,  40, 14

    DEFPUSHBUTTON   "Subdivion", IDCE_SUBDIV,       10,  85,  37, 14
    DEFPUSHBUTTON   "Sub Region",IDCE_REGION,       49,  85,  40, 14
    DEFPUSHBUTTON   "Refine",    IDCE_REFINE,       91,  85,  34, 14
    DEFPUSHBUTTON   "Crv Merge", IDCE_CMERGE,      128,  85,  37, 14

    DEFPUSHBUTTON   "Mov CtlPts",IDCE_MOVE_CTLPTS,  10, 105,  37, 14
    DEFPUSHBUTTON   "Del CtlPts",IDCE_DELETE_CTLPTS,49, 105,  37, 14
    DEFPUSHBUTTON   "Deg Raise", IDCE_DRAISE,       88, 105,  37, 14
    DEFPUSHBUTTON   "MR Modify", IDCE_MODIFY_CURVE,127, 105,  37, 14

    DEFPUSHBUTTON   "Reverse",  IDCE_REVERSE_CURVE, 10, 125,  37, 14
    DEFPUSHBUTTON   "Evaluate",IDCE_EVALUATE_CURVE,127, 125,  37, 14

    DEFPUSHBUTTON   "Undo",      IDCE_UNDO,         10, 145,  37, 14
    DEFPUSHBUTTON   "Redo",      IDCE_REDO,         49, 145,  37, 14
    DEFPUSHBUTTON   "Save",      IDCE_SAVE_CURVE,   88, 145,  37, 14
    DEFPUSHBUTTON   "Submit",    IDCE_SUBMIT_CURVE,127, 145,  37, 14

    CONTROL         "MultiResolution", IDCE_MR_STATUS, "Static",
                    WS_GROUP, 5, 165, 55, 10
    SCROLLBAR       IDCE_MR_TRACKBAR_SCALE, 5, 175, 165, 15

    CONTROL         "Messages",  IDCE_MESSAGE, "Static",
                    WS_GROUP, 5, 195, 165, 10

    DEFPUSHBUTTON   "Constraints",IDCE_CONSTRAINTS, 10, 210, 50, 14
    DEFPUSHBUTTON   "Clear",     IDCE_CLEAR,        62, 210, 50, 14
    DEFPUSHBUTTON   "Dismiss",   IDCE_DISMISS,     115, 210, 50, 14
END

IDCC_CRV_CNST_PARAM_FORM DIALOG DISCARDABLE  0, 0, 175, 115
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CLIENTEDGE
CAPTION "Crv Constraints"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT                    IDCC_CRV_CNST_TEXT,10,   5, 155, 44, WS_VSCROLL | NOT WS_TABSTOP | ES_MULTILINE | ES_READONLY | ES_WANTRETURN, WS_EX_DLGMODALFRAME | WS_EX_STATICEDGE

    AUTOCHECKBOX    "Satisfy All",IDCC_SATISFY_ALL,   8,  57,  45, 10, WS_GROUP
    AUTOCHECKBOX    "Constraints",IDCC_CONSTRAINTS,  56,  57,  50, 10, WS_GROUP
    LTEXT           "Undu:",      IDCC_STATIC_LABEL1, 110,  57,  24, 12
    EDITTEXT                      IDCC_UNDULATE,      130,  55,  35, 14

    AUTOCHECKBOX    "X Sym",      IDCC_X_SYMMETRY,     10,  75,  35, 14
    AUTOCHECKBOX    "Y Sym",      IDCC_Y_SYMMETRY,     50,  75,  35, 14
    AUTOCHECKBOX    "C Sym",      IDCC_C_SYMMETRY,     90,  75,  35, 14
    AUTOCHECKBOX    "Area",       IDCC_AREA,          130,  75,  35, 14

    PUSHBUTTON   "Add",           IDCC_ADD_CNST,       10,  95,  50, 14
    PUSHBUTTON   "Delete",        IDCC_DELETE_CNST,    62,  95,  50, 14
    PUSHBUTTON   "Dismiss",       IDCC_DISMISS,       115,  95,  50, 14
END

IDSE_SRF_EDIT_PARAM_FORM DIALOG DISCARDABLE  0, 0, 175, 280
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CLIENTEDGE
CAPTION "Srf Edit"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Surface Edit", IDSE_STATE, 10, 7, 155, 14

    LTEXT           "Name:",      IDC_STATIC_LABEL1,  8,  27,  24, 12
    EDITTEXT                      IDSE_NAME,         32,  25,  70, 14
    AUTOCHECKBOX    "Mesh",       IDSE_DRAW_MESH,   108,  27,  30, 10, WS_GROUP
    AUTOCHECKBOX    "Orig",       IDSE_DRAW_ORIG,   140,  27,  30, 10, WS_GROUP

    LTEXT           "Orders:",    IDC_STATIC_LABEL2,  8,  47,  24, 12
    EDITTEXT                      IDSE_U_ORDER,      33,  45,  20, 14, ES_NUMBER
    EDITTEXT                      IDSE_V_ORDER,      54,  45,  20, 14, ES_NUMBER
    DEFPUSHBUTTON   "Rational",   IDSE_RATIONAL,     80,  45,  40, 14
    DEFPUSHBUTTON   "Bspline",    IDSE_SRF_TYPE,    125,  45,  40, 14

    DEFPUSHBUTTON   "SubReg",     IDSE_REGION,       10,  65,  50, 14
    DEFPUSHBUTTON   "U Open EC",  IDSE_U_END_COND,   62,  65,  50, 14
    DEFPUSHBUTTON   "V Open EC",  IDSE_V_END_COND,  115,  65,  50, 14

    DEFPUSHBUTTON   "Move CtlPts",IDSE_MOVE_CTLPTS,   10, 85,  50, 14
    DEFPUSHBUTTON   "U Uniform KV",IDSE_U_PARAM_TYPE, 62, 85,  50, 14
    DEFPUSHBUTTON   "V Uniform KV",IDSE_V_PARAM_TYPE,115, 85,  50, 14

    DEFPUSHBUTTON   "Subdiv",     IDSE_SUBDIV,       10, 105,  50, 14
    DEFPUSHBUTTON   "U Deg Raise",IDSE_U_DRAISE,     62, 105,  50, 14
    DEFPUSHBUTTON   "V Deg Raise",IDSE_V_DRAISE,    115, 105,  50, 14

    DEFPUSHBUTTON   "Refine",     IDSE_REFINE,       10, 125,  50, 14
    DEFPUSHBUTTON   "MR Modify",  IDSE_MODIFY_SRF,   62, 125,  50, 14
    DEFPUSHBUTTON   "Srf Merge",  IDSE_SMERGE,      115, 125,  50, 14

    DEFPUSHBUTTON   "Reverse",    IDSE_REVERSE_SRF,  10, 145,  50, 14
    DEFPUSHBUTTON   "Trim Srf",   IDSE_TRIM_SRF,     62, 145,  50, 14
    DEFPUSHBUTTON   "Evaluate",   IDSE_EVALUATE_SRF,115, 145,  50, 14

    DEFPUSHBUTTON   "Undo",       IDSE_UNDO,         10, 165,  35, 14
    DEFPUSHBUTTON   "Redo",       IDSE_REDO,         50, 165,  35, 14
    DEFPUSHBUTTON   "Save",       IDSE_SAVE_SRF,     90, 165,  35, 14
    DEFPUSHBUTTON   "Submit",     IDSE_SUBMIT_SRF,  130, 165,  35, 14

    CONTROL         "MultiResolution U", IDSE_MRU_STATUS, "Static",
                    WS_GROUP,                        5, 185,  55, 10
    AUTOCHECKBOX    "MR Nrml Dir",IDSE_MODIFY_NORMAL_DIR,105, 185,  65, 10, WS_GROUP
    SCROLLBAR       IDSE_MRU_TRACKBAR_SCALE,         5, 195, 165, 15
    CONTROL         "MultiResolution V", IDSE_MRV_STATUS, "Static",
                    WS_GROUP, 5, 215, 55, 10
    SCROLLBAR       IDSE_MRV_TRACKBAR_SCALE,         5, 225, 165, 15

    CONTROL         "Messages", IDSE_MESSAGE, "Static",
                    WS_GROUP, 5, 245, 165, 10

    DEFPUSHBUTTON   "Clear",   IDSE_CLEAR,           10, 260, 50, 14
    DEFPUSHBUTTON   "Dismiss", IDSE_DISMISS,        115, 260, 50, 14
END

IDPK_PICK_OBJS_FORM DIALOG DISCARDABLE  0, 0, 225, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CLIENTEDGE
CAPTION "Picking Object Types"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "Poly",    IDPK_PICK_OBJS_POLY,      15,  15,  45,  10
    AUTOCHECKBOX    "Numeric", IDPK_PICK_OBJS_NUMERIC,   65,  15,  45,  10
    AUTOCHECKBOX    "Point",   IDPK_PICK_OBJS_POINT,    115,  15,  45,  10
    AUTOCHECKBOX    "Vector",  IDPK_PICK_OBJS_VECTOR,   165,  15,  45,  10

    AUTOCHECKBOX    "Plane",   IDPK_PICK_OBJS_PLANE,     15,  30,  45,  10
    AUTOCHECKBOX    "Matrix",  IDPK_PICK_OBJS_MATRIX,    65,  30,  45,  10
    AUTOCHECKBOX    "Curve",   IDPK_PICK_OBJS_CURVE,    115,  30,  45,  10
    AUTOCHECKBOX    "Surface", IDPK_PICK_OBJS_SURFACE,  165,  30,  45,  10

    AUTOCHECKBOX    "String",  IDPK_PICK_OBJS_STRING,    15,  45,  45,  10
    AUTOCHECKBOX    "List Obj",IDPK_PICK_OBJS_LIST_OBJ,  65,  45,  45,  10
    AUTOCHECKBOX    "Ctl Pt",  IDPK_PICK_OBJS_CTLPT,    115,  45,  45,  10
    AUTOCHECKBOX    "Trimed Srf",IDPK_PICK_OBJS_TRIMSRF,165,  45,  45,  10

    AUTOCHECKBOX    "Trivar", IDPK_PICK_OBJS_TRIVAR,     15,  60,  45,  10
    AUTOCHECKBOX    "Instance",IDPK_PICK_OBJS_INSTANCE,  65,  60,  45,  10
    AUTOCHECKBOX    "Triang Srf",IDPK_PICK_OBJS_TRISRF, 115,  60,  45,  10
    AUTOCHECKBOX    "Model",   IDPK_PICK_OBJS_MODEL,    165,  60,  45,  10

    AUTOCHECKBOX    "MultiVar",IDPK_PICK_OBJS_MULTIVAR,  15,  75,  45,  10

    AUTOCHECKBOX    "Save Picked Polygon/line",
			       IDPK_PICK_SAVE_POLY,      15, 100, 120,  10

    PUSHBUTTON      "Dismiss", IDPK_PICK_DISMISS,       165, 100,  50,  14
END

IDOT_OBJ_MANIP_FORM DIALOG DISCARDABLE  0, 0, 190, 340
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CLIENTEDGE
CAPTION "Object Manipulation"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Object Manipulate", IDOT_STATE,    10,  7, 170, 14
    DEFPUSHBUTTON   "Screen Space", IDOT_SCREEN_SPACE, 10, 25, 170, 14

    CONTROL      "Rotate X", IDOT_ROT_X_TITLE, "Static",
                 WS_GROUP, 5, 47, 100, 10
    SCROLLBAR    IDOT_ROT_X_TRACKBAR,            5,  55, 175, 15

    CONTROL      "Rotate Y", IDOT_ROT_Y_TITLE, "Static",
                 WS_GROUP, 5, 72, 100, 10
    SCROLLBAR    IDOT_ROT_Y_TRACKBAR,            5,  80, 175, 15

    CONTROL      "Rotate Z", IDOT_ROT_Z_TITLE, "Static",
                 WS_GROUP, 5, 97, 100, 10
    SCROLLBAR    IDOT_ROT_Z_TRACKBAR,            5, 105, 175, 15

    CONTROL      "Translate X", IDOT_TRANS_X_TITLE, "Static",
                 WS_GROUP, 5, 122, 100, 10
    SCROLLBAR    IDOT_TRANS_X_TRACKBAR,          5, 130, 175, 15

    CONTROL      "Translate Y", IDOT_TRANS_Y_TITLE, "Static",
                 WS_GROUP, 5, 147, 100, 10
    SCROLLBAR    IDOT_TRANS_Y_TRACKBAR,          5, 155, 175, 15

    CONTROL      "Translate Z", IDOT_TRANS_Z_TITLE, "Static",
                 WS_GROUP, 5, 172, 100, 10
    SCROLLBAR    IDOT_TRANS_Z_TRACKBAR,          5, 180, 175, 15

    CONTROL      "Scale", IDOT_SCALE_TITLE, "Static",
                 WS_GROUP, 5, 197, 100, 10
    SCROLLBAR    IDOT_SCALE_TRACKBAR,            5, 205, 175, 15

    LTEXT        "Mat Name:",IDOT_STATIC_LABEL1,10, 228,  45, 12
    EDITTEXT              IDOT_NAME,            60, 226, 110, 14

    LTEXT        "Degs:", IDOT_STATIC_LABEL2,    8, 248,  20, 12
    EDITTEXT              IDOT_SNAP_DEGREES,    30, 246,  30, 14
    LTEXT        "Dist:", IDOT_STATIC_LABEL3,   70, 248,  20, 12
    EDITTEXT              IDOT_SNAP_DISTANCE,   90, 246,  45, 14
    AUTOCHECKBOX "Snap",  IDOT_SNAP,           150, 248,  40, 10, WS_GROUP

    PUSHBUTTON   "Save",   IDOT_SAVE,            10, 265, 50, 14
    PUSHBUTTON   "Submit", IDOT_SUBMIT,          70, 265, 50, 14
    PUSHBUTTON   "Delete", IDOT_DELETE          130, 265, 50, 14

    PUSHBUTTON   "Reverse",IDOT_REVERSE,         10, 285, 80, 14
    PUSHBUTTON   "Color",  IDOT_COLOR,          100, 285, 80, 14

    CONTROL      "Messages",  IDOT_MESSAGE, "Static",
                 WS_GROUP, 5, 305, 175, 10

    PUSHBUTTON   "Reset",   IDOT_RESET,          10, 320, 80, 14
    PUSHBUTTON   "Dismiss", IDOT_DISMISS,       100, 320, 80, 14
END

IDD_PROMPT DIALOG DISCARDABLE  0, 0, 163, 96
STYLE DS_LOCALEDIT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CLIENTEDGE
CAPTION "Prompt Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Ok", IDOK, 5, 75, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 105, 75, 50, 14
    EDITTEXT        IDC_EDIT_SELECTION, 5, 35, 155, 15, ES_AUTOHSCROLL
    LTEXT           "Selection", IDC_STATIC_SELECTIONLABEL, 5, 5, 155, 25
END

IDB_BITMAP_REWIND       BITMAP  DISCARDABLE     "winres\\rewind.bmp"
IDB_BITMAP_PLAYBACKWARD BITMAP  DISCARDABLE     "winres\\playback.bmp"
IDB_BITMAP_STOP         BITMAP  DISCARDABLE     "winres\\stop.bmp"
IDB_BITMAP_PLAY         BITMAP  DISCARDABLE     "winres\\play.bmp"
IDB_BITMAP_FORWARD      BITMAP  DISCARDABLE     "winres\\forward.bmp"

